<?xml version="1.0" encoding="utf-8"?>
<!--
  Ananim Manager Painel – implantação no IIS com HttpPlatformHandler (.exe).
  Requer: HttpPlatformHandler instalado.
  Setup-IIS.ps1 ajusta o processPath em tempo de configuração, se necessário.
-->
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath=".\Ananim-Manager-Painel-API.exe"
                  arguments=""
                  startupTimeLimit="60"
                  startupRetryCount="3"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\api-stdout.log">
      <environmentVariables>
        <environmentVariable name="NODE_ENV" value="production" />
      </environmentVariables>
    </httpPlatform>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment=".env" />
          <add segment=".encryption_key" />
          <add segment="config.enc" />
          <add segment="key.bin" />
          <add segment=".git" />
          <add segment="logs" />
          <add segment="config" />
          <add segment="data" />
          <add segment="lib" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
